@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&family=Montserrat:wght@500&family=Spline+Sans:wght@500&display=swap');

* {
    font-family: 'Spline Sans', sans-serif;
    background-color: rgb(48, 53, 94);
    padding: 0px;
    margin: 0px;
}

.dataframe {
    width: 100%;
    margin-bottom: 5%;
    background-color: rgb(0, 0, 0);
    padding: 1% 1% 0.5% 1%;
}

th {
    text-align: center;
    text-transform: capitalize;
    font-size: 1.5rem;
    color: rgb(214, 214, 214);
}

h1 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(240, 240, 240);
}

td {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    background-color: rgb(112, 123, 204);
    padding: 1% 1% 1% 1%;
}